[submodule "PECL0"]
	path = PECL0
	url = git@github.com:junquera/Corleone-CRA.git
[submodule "PECL1"]
	path = PECL1
	url = git@github.com:junquera/Buscaminas-CRA.git
[submodule "PECL2"]
	path = PECL2
	url = https://github.com/junquera/Syntax-CRA
